/CheckStream.class
/Employee.class
/FoEach.class
/Greeting.class
/HelloFunction$1.class
/HelloFunction.class
/HelloWorld.class
/HelloWorldGreeting.class
/Person.class
/PredCheck.class
/PredicateExample.class
/RunnableExample$1.class
/RunnableExample.class
/StreamExample.class
/TDDtest.class
/TypeInferenceExample$StringLengthLambda.class
/TypeInferenceExample.class
